.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__n9FmJ {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__n9FmJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__n9FmJ > :global(.__wab_flex-container) > *,
.freeBox__n9FmJ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__d5EN6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__d5EN6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d5EN6 > :global(.__wab_flex-container) > *,
.freeBox__d5EN6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__yJnzK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__udjun {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__pWmy5 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
}
.freeBox__gy9U {
  font-size: 20px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  line-height: 28px;
}
.freeBox__zSbHn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zSbHn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zSbHn > :global(.__wab_flex-container) > *,
.freeBox__zSbHn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__eyNim:global(.__wab_instance) {
  position: relative;
}
.svg__fjNlu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__bCrVt {
  height: auto;
}
.svg__bhP3Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__oLnx:global(.__wab_instance) {
  position: relative;
}
.svg__jn3Q7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__e2Tjv {
  height: auto;
  font-weight: 400;
}
.svg__gfb8H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__mLfW8 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__mLfW8 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mLfW8 > :global(.__wab_flex-container) > *,
.freeBox__mLfW8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__rwZQt {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__j4YqK {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__j4YqK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__j4YqK > :global(.__wab_flex-container) > *,
.freeBox__j4YqK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___9ArGl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9ArGl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9ArGl > :global(.__wab_flex-container) > *,
.freeBox___9ArGl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__b9HjS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__g7RrK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__jWk94 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__pPKey:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__kJ17 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__woAyi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__jvS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jvS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jvS > :global(.__wab_flex-container) > *,
.freeBox__jvS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider__c2WO:global(.__wab_instance) {
  position: relative;
}
.divider__hxklI:global(.__wab_instance) {
  position: relative;
}
.freeBox__nWitT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nWitT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nWitT > :global(.__wab_flex-container) > *,
.freeBox__nWitT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__aaI0L:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__plTip {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg___5MShd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
}
.divider__ibQp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__lEtBd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__qxNYt {
  position: relative;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__hPq84 {
  object-fit: cover;
  width: 40px;
}
.button__gBgb:global(.__wab_instance) {
  position: relative;
}
.svg__omhYf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__abJlg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__o7ViK:global(.__wab_instance) {
  position: relative;
}
.svg__n1Ejr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__uTWb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__eosgh:global(.__wab_instance) {
  position: relative;
}
.svg__lpN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__e8L0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__pswKa:global(.__wab_instance) {
  position: relative;
}
.svg___1Hv3G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__hXm4 {
  height: auto;
}
.svg__cj0M7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button___5AigF:global(.__wab_instance) {
  position: relative;
}
.svg__gyunu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__sVv6X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button___56P3E:global(.__wab_instance) {
  position: relative;
}
.svg__bIwQn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__qzG7T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__pbLmt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___7Hl1R {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___7Hl1R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Hl1R > :global(.__wab_flex-container) > *,
.freeBox___7Hl1R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___8Xcri {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  line-height: 1;
}
.freeBox__dtRbg {
  font-size: 20px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  text-align: left;
  line-height: 28px;
}
.freeBox__aly2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__aly2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__aly2 > :global(.__wab_flex-container) > *,
.freeBox__aly2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__iw3CP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__iw3CP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__iw3CP > :global(.__wab_flex-container) > *,
.freeBox__iw3CP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iw3CP {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iw3CP > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iw3CP > :global(.__wab_flex-container) > *,
  .freeBox__iw3CP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__vBQcw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oOx5G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__jyfp5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__qkNfK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xjRkN {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__mbnKn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__aIeE7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wXrYe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__bApev {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__baDa1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bdGpw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___84Is9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.freeBox__mSkMf {
  height: auto;
}
.freeBox__xsuTn {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__xsuTn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xsuTn > :global(.__wab_flex-container) > *,
.freeBox__xsuTn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__twrWj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__twrWj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__twrWj > :global(.__wab_flex-container) > *,
.freeBox__twrWj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twrWj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twrWj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twrWj > :global(.__wab_flex-container) > *,
  .freeBox__twrWj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__yYqIa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8SBam {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__bnnsg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.freeBox__jru1F {
  height: auto;
}
.valueprop___0BsP1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sshDn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__sgDnq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__o4Riw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pciSi {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__aGXyD {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__w50Je:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1LxT8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__qzezd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.freeBox__xIwX0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__vMg0X {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__vMg0X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vMg0X > :global(.__wab_flex-container) > *,
.freeBox__vMg0X > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___4U2O0 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.h2__oEbky {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
  line-height: 1;
}
.freeBox__cscPx {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
  line-height: 28px;
  height: auto;
}
.button__ojMbv:global(.__wab_instance) {
  position: relative;
}
.svg___1LtMc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__zypNx {
  color: #0a84ff /* plasmic-token: WvEejFhwGkeM_W */;
}
.svg__yPpf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: WvEejFhwGkeM_W */;
}
.freeBox__tkUjp {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__a8Mb0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nNrMi {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__uFq47 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__olk4M:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__debWr {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__fSf2C {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__fqZ1Z:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___38DA {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__tPwRj {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem___5Zl7U:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__e9XYh {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__gKeDw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__yfCk2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__khhAf {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__ai3BR {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.freeBox__raW1M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__xiBsV {
  display: flex;
  flex-direction: column;
}
.freeBox__xiBsV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xiBsV > :global(.__wab_flex-container) > *,
.freeBox__xiBsV > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___0ArxV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__q6Kfu {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
  line-height: 1;
}
.freeBox__uSq5U {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___3Guwc {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox___3Guwc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Guwc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Guwc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Guwc > :global(.__wab_flex-container) > *,
  .freeBox___3Guwc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__hG5Mb {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hG5Mb {
    border-radius: 16px;
  }
}
.freeBox__a6NHc {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__a6NHc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a6NHc > :global(.__wab_flex-container) > *,
.freeBox__a6NHc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___9Ipsc {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__cEWkZ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cEWkZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cEWkZ > :global(.__wab_flex-container) > *,
.freeBox__cEWkZ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__hj2UA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__o0Qz3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox__kbrjW {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox__gfMua {
  line-height: 28px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__kD3R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__vomDr {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__vomDr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vomDr > :global(.__wab_flex-container) > *,
.freeBox__vomDr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__wmRqz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wmRqz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wmRqz > :global(.__wab_flex-container) > *,
.freeBox__wmRqz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__l7Sfs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nscc8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__jpeXr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__js0Gc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pZwhk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__z03Xy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.svg__ewx9S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__cCOyL {
  height: auto;
}
.svg__zcHuo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__mbZqc {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: 5zpWMSRWfK0Xdj */;
}
.freeBox__dfk6K {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__dfk6K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dfk6K > :global(.__wab_flex-container) > *,
.freeBox__dfk6K > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__rGreq {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__jpe7T {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jpe7T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jpe7T > :global(.__wab_flex-container) > *,
.freeBox__jpe7T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__rmb16 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___7CAa {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox___96Az {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox__rmSab {
  line-height: 28px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__iYuG9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__p1Yyl {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__p1Yyl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p1Yyl > :global(.__wab_flex-container) > *,
.freeBox__p1Yyl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__lU3Vs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lU3Vs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lU3Vs > :global(.__wab_flex-container) > *,
.freeBox__lU3Vs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__i3NyT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yvVr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__iaEqi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop___0L6C4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__oqVGr {
  height: auto;
}
.svg__v7Ii0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___8WDFx {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__t9R:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kkp6R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wUkaV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__spUgk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__nPoh {
  height: auto;
}
.svg__xG2D {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__pW7Wo {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.svg__vWhwv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__o6Muw {
  height: auto;
}
.svg___3Afn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox___96QcV {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___96QcV {
    border-radius: 16px;
  }
}
.freeBox__x9Fp4 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__x9Fp4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__x9Fp4 > :global(.__wab_flex-container) > *,
.freeBox__x9Fp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__wZz7N {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__f9Qy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__f9Qy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__f9Qy > :global(.__wab_flex-container) > *,
.freeBox__f9Qy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__mIx2G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__cfnxC {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox__utsBp {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  width: auto;
  display: inline-block;
}
.freeBox___5Toe7 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___36AcD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__ipVja {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__ipVja > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ipVja > :global(.__wab_flex-container) > *,
.freeBox__ipVja > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__xWgCp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xWgCp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xWgCp > :global(.__wab_flex-container) > *,
.freeBox__xWgCp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__mJkvR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qNFsn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___74DGq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__wueC:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oLqGf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__rHzA {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.svg__d4HdL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__sx5R8 {
  height: auto;
}
.svg__msymo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__rIJg:global(.__wab_instance) {
  position: relative;
}
.img___0OZdy {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__e9S9U {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__urEqj {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  line-height: 1;
  height: auto;
}
.svg__yNjo6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__dqN2B {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: FBW_i9DojvHqWD */;
  white-space: pre;
  display: inline-block;
}
.svg__tpk7F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__ibevn {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__ibevn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ibevn > :global(.__wab_flex-container) > *,
.freeBox__ibevn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibevn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibevn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibevn > :global(.__wab_flex-container) > *,
  .freeBox__ibevn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__qzrfC {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__lLmx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__tLenx {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  line-height: 1;
  height: auto;
}
.svg__bnDm3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__wJher {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: FBW_i9DojvHqWD */;
  white-space: pre;
  display: inline-block;
}
.svg__h02KN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.banner__l2TvK:global(.__wab_instance) {
  position: relative;
}
.img__yA4Rp {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.freeBox__suiem {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__gt0JP {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  line-height: 1;
  height: auto;
}
.svg__kgtsC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox___6JteN {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: FBW_i9DojvHqWD */;
  white-space: pre;
  display: inline-block;
}
.svg__xd1OZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__mVhjE {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__befIg {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__e2V3S {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vsuYs {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__snvly {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.freeBox___7QLms {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial___2LYsX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__smfuU {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__iSrbf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__hVbaV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial___66EgB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__lYSgV {
  height: auto;
}
.freeBox__oxhfl {
  height: auto;
}
.img__zbB5A {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__y7G0C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__ntZsR {
  height: auto;
}
.img___3PGzz {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__t39D0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.freeBox__lWDj {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__gTLeK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gTLeK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gTLeK > :global(.__wab_flex-container) > *,
.freeBox__gTLeK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__lmy5B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.freeBox__wcZb {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
  line-height: 1;
}
.freeBox___1OdYx {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
  line-height: 28px;
}
.freeBox__fho5F {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fho5F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fho5F > :global(.__wab_flex-container) > *,
.freeBox__fho5F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__rA6Pd:global(.__wab_instance) {
  position: relative;
}
.svg__sFdUn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__t7QyD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__gxkWp:global(.__wab_instance) {
  position: relative;
}
.svg__zmHsm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox___4Ys28 {
  height: auto;
  font-weight: 400;
}
.svg__v2Qyj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
