.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #ffffff;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
.freeBox {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
    flex-column-gap: 0px;
  }
}
.img___3TnWp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.freeBox__bwctG {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1c1e;
  min-width: 0;
  padding: 64px;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copy {
    padding: 128px 32px;
  }
}
.freeBox__zasSe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zasSe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zasSe > :global(.__wab_flex-container) > *,
.freeBox__zasSe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__oLTy {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.freeBox__viZf {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
  line-height: 1;
}
.freeBox__wIoF9 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
  line-height: 28px;
}
.freeBox___62BTk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___62BTk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___62BTk > :global(.__wab_flex-container) > *,
.freeBox___62BTk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__dl17O:global(.__wab_instance) {
  position: relative;
}
.svg__aNcTs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__lhGuI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button___63SGu:global(.__wab_instance) {
  position: relative;
}
.svg__y5A6A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__khf35 {
  height: auto;
  font-weight: 400;
}
.svg__eCw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
