.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f7;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 128px 32px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.testimonial__h3Co:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__l6El {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__qqPnI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img___8WwY {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__mfKx6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__lvFhJ {
  height: auto;
}
.freeBox__aFxAn {
  height: auto;
}
.img__q06K8 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: auto;
  border-radius: 32px;
}
.testimonial__rVJmM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___6WtkG {
  height: auto;
}
.img__lzcBs {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
