.root {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 128px 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #ffffff;
  padding: 64px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    padding: 0px;
  }
}
.freeBox__ojYim {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__ojYim > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ojYim > :global(.__wab_flex-container) > *,
.freeBox__ojYim > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__dGkQ0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__kMp9 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
  line-height: 1;
}
.freeBox__g18S7 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  text-align: left;
  line-height: 28px;
}
.freeBox__zyA6B {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__zyA6B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__zyA6B > :global(.__wab_flex-container) > *,
.freeBox__zyA6B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__ivQQy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ivQQy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__ivQQy > :global(.__wab_flex-container) > *,
.freeBox__ivQQy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
.valueprop__o5DFg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nJ5Ma {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__nd3Fc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__whPS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nb1Tr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__hiSh {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__v3ByO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vUcSr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__q1YkG {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop___5H1Qe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__puUP {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__vAkn3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.freeBox__xe8Xn {
  height: auto;
}
.freeBox__tatBp {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__tatBp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__tatBp > :global(.__wab_flex-container) > *,
.freeBox__tatBp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__adMn1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__adMn1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__adMn1 > :global(.__wab_flex-container) > *,
.freeBox__adMn1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
.valueprop___7U2Gs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__imi0T {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__xvzzr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.freeBox__vqPmi {
  height: auto;
}
.valueprop___7XYzA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__syHEg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___7QKsZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__w9Ur:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wLxsj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__tqwq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.valueprop__oUyhx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pIzz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__i4Oz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
