.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.freeBox {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 128px;
  margin-top: 64px;
}
.img__d0IL {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__mba9J {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bePa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__eMuOf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fv2JJ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
