.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #1c1c1e;
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 960px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__uQxAe {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__uQxAe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uQxAe > :global(.__wab_flex-container) > *,
.freeBox__uQxAe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__wkQ3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.h2__bdYR {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
  line-height: 1;
}
.freeBox__kBJfU {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
  line-height: 28px;
  height: auto;
}
.button__xk3Kq:global(.__wab_instance) {
  position: relative;
}
.svg__oGKcd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__bMxry {
  color: #0a84ff /* plasmic-token: WvEejFhwGkeM_W */;
}
.svg__mh6Ds {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: WvEejFhwGkeM_W */;
}
.freeBox__wp0Hm {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__yDyyU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kytev {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__lvVp1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__tXl2R:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__e7O4G {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__o61Q0 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__dLhbc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ce2Fv {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__isOg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__nKwP:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__aEBza {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__ayuLa {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
.listItem__gbztR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pRfK {
  height: auto;
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.svg__ljAuQ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: VknM1MaGRmPa15 */;
}
