.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation__iBcty:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__mynWj {
  object-fit: cover;
  width: 40px;
}
.button__fxivl:global(.__wab_instance) {
  position: relative;
}
.svg__rkvEj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__eV87 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__kEfeh:global(.__wab_instance) {
  position: relative;
}
.svg__kZf4S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg___4Xwd9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__d4HGn:global(.__wab_instance) {
  position: relative;
}
.svg__ieZqD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__eGeZi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__abLLc:global(.__wab_instance) {
  position: relative;
}
.svg__j3A4A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg___83HaW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button___1KTab:global(.__wab_instance) {
  position: relative;
}
.svg___7Hcpi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__zmgMl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button___3CuA:global(.__wab_instance) {
  position: relative;
}
.svg___3UxT4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__k5CFs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.background3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1920px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.freeBox__dj3Zp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dj3Zp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dj3Zp > :global(.__wab_flex-container) > *,
.freeBox__dj3Zp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__zjGgP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zjGgP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zjGgP > :global(.__wab_flex-container) > *,
.freeBox__zjGgP > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__zghzq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__zqOtS {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__qbRVz {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
}
.freeBox___9QU1C {
  font-size: 20px;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  line-height: 28px;
}
.freeBox___6Ta4P {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6Ta4P > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6Ta4P > :global(.__wab_flex-container) > *,
.freeBox___6Ta4P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__wdBcz:global(.__wab_instance) {
  position: relative;
}
.svg__qYsN0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__nKrJ6 {
  height: auto;
}
.svg__zDwjb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__rC1K5:global(.__wab_instance) {
  position: relative;
}
.svg__vLtnY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__lRb5 {
  height: auto;
  font-weight: 400;
}
.svg__rsxHj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox___7MskU {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox___7MskU > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___7MskU > :global(.__wab_flex-container) > *,
.freeBox___7MskU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox___7NKi1 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__kb60U {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__kb60U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kb60U > :global(.__wab_flex-container) > *,
.freeBox__kb60U > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__wl7Wy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wl7Wy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wl7Wy > :global(.__wab_flex-container) > *,
.freeBox__wl7Wy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__twcEf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hk9Kz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__dTa89 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.button__lxhYo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xZrQb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__sdUnd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.freeBox__jse13 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jse13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jse13 > :global(.__wab_flex-container) > *,
.freeBox__jse13 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider___8RmLc:global(.__wab_instance) {
  position: relative;
}
.divider___9H9JL:global(.__wab_instance) {
  position: relative;
}
.freeBox__hshPi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hshPi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hshPi > :global(.__wab_flex-container) > *,
.freeBox__hshPi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__fyOsG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jtcli {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.svg__ugpFt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: E9nBZQTfBQ-glA */;
}
.divider__mnRkQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__uzsNu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__yUhnb {
  position: relative;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
