.root {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
  margin-top: 0px;
}
.root__startIcon {
  display: flex;
}
.root__colors_green {
  background: #34c759;
}
.root__colors_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root__colors_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__colors_indigo > :global(.__wab_flex-container) > *,
.root__colors_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
  margin-top: 0px;
}
.root__colors_blue {
  background: #007aff;
}
.root__colors_red {
  background: #ff3b30;
}
.root__colors_white {
  background: #ffffff;
}
.root__round {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.root__flat {
  padding: 0px;
}
.root__noGap > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__noGap > :global(.__wab_flex-container) > *,
.root__noGap > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
.root__extraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.root__noLabel {
  padding-top: 11px;
  padding-bottom: 11px;
}
.root__ouline {
  border: 1px solid #e5e5ea /* plasmic-token: ZwvDiOyqTc7wMO */;
}
.root__darkGray {
  background: #000000d9;
}
.root__bgDifference {
  mix-blend-mode: difference;
}
.root:hover {
  background: #f2f2f7;
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.root__colors_indigo:hover {
  background: #5e5ce6;
}
.root__linkLabel:hover {
  background: none;
}
.root__darkGray:hover {
  background: #05050599;
}
.svg__oekJz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  flex-shrink: 0;
}
.slotSlot {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.slotSlot__colors_green {
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.slotSlot__colors_indigo {
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.slotSlot__colors_blue {
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.slotSlot__colors_red {
  color: #ffffff /* plasmic-token: 2b-JmIuKdlKIXr */;
}
.slotSlot__large {
  font-size: 24px;
  line-height: 1.5em;
}
.slotSlot__linkLabel {
  font-weight: 400;
  color: #007aff;
}
.slotSlot__navLink {
  font-weight: 400;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
}
.slotSlot__darkGray {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.slotSlot__dark {
  color: #ffffffd9 /* plasmic-token: A1LnMPmrzR08h1 */;
}
.root__navLink:hover .slotSlot__navLink {
  color: #000000d9 /* plasmic-token: EM7zEEXTl3OHBI */;
}
.root__navLink:hover .slotSlot__navLink > *,
.root__navLink:hover .slotSlot__navLink > .__wab_slot > *,
.root__navLink:hover .slotSlot__navLink > .__wab_slot > .__wab_slot > *,
.root__navLink:hover
  .slotSlot__navLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  text-decoration-line: underline;
}
.svg__laEwc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: GtLKhB3CzpjrlX */;
  flex-shrink: 0;
}
